*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url('assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-behavior: smooth;
}

main h1{
    color: #744D22;
    padding: 5px;
    margin: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
main form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #d8d8d877;
    padding: 5px;
    border-radius: 10px;
}
main form label{
    display: inline-block;
    color: #744D22;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    align-self: self-start;
}
main form #note{
    border: 1px solid #744c2270;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 20px;
    max-width: 600px;
    outline: none;
    padding: 5px;
    border-radius: 7px;
    color: #744D22;
}
main form #save-note-btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    padding: 5px;
    font-size: 18px;
    color: #744D22;
    border-radius: 7px;
    outline: none;
    border: 1px solid #744D22;
    align-self: center;
    margin: 10px 0;
}
.save-notes{
    padding: 15px;
    background-color: #d8d8d877;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 800px;
}
.save-notes-table td {
    padding: 10px;
    text-align: left;
    color: #744D22;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.save-notes-table td input {
    margin: 10px;
}
table{
    border-collapse: collapse;
}
.save-notes table tr{
    border: 1px solid #cccccc94;
}
.save-notes table tr td button{
    background-color: transparent;
    border: none;
    margin: 0 10px;
    padding: 3px;
}
.save-notes table tr td button:hover{
    cursor: pointer;
    background-color: #744c2279;
    border-radius: 5px;
}

.footer{
    color: #744D22;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d8d8d877;
    margin: 10px 0;
    border-radius: 5px;
}